In [ ]:
from datetime import datetime
print("my 2nd notebook on az at ", datetime.now())

In [ ]:
spark.sql("SELECT 1").show()